.backgroungforform{

    background-image: url('../store/i2.jpeg');
    background-position: center;

}
.busfeedbackbackgraound{
    background-image: url('../store/fff3.jpeg');
    background-position: center;
}
#busrouteform{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
background: #ffffff;
    padding: 10px 5px;
    border-radius: 30px;

}
.box-form{
    
    width: 80vw;
    margin: 25px 5px 0px 5px;
    padding: 20px 50px;
    margin:40px auto;
 
}
@media (max-width: 576px) {
    .box-form {
        margin:auto auto;

        padding: 20px 10px;
    }
}
.paraforform{
    font-size:28px;
    font-weight:bold;
    padding: 10px 10px 0px 10px;
}
#submitbtn{
    width:200px;
    height:40px;
    border:1px solid black;
    text-align:center;
    border-radius:10px;
    background-color:#ffffff;
    font-weight:bold;
  margin: 10px;

    padding:0px 5px;

}
#busrouteform button{
    width:200px;
    height:40px;
    border:1px solid black;
    text-align:center;
    border-radius:10px;
    background-color:#ffffff;
    color: black;
    font-weight:bold;
    margin: 10px;


    padding:0px 5px;
}
.dropdown{
    margin: 20px 0px 0px 0px;
}
.wraper {
  margin: 0px 10px;
}
.labelofwrapper{
    

}
.wraper input{
    display: block;
    border: 1px solid black;
    height:50px;
    width:80%;
    border-radius:5px;
    padding:0px 5px;
}
.wraper select  {
    display: block;
    border: 1px solid black;
    height:50px;
    width:80%;
    border-radius:5px;
    padding:0px 5px;
}

@media (max-width:992px){
    .wraper input{
        display: block;
        border: 1px solid black;
        height:50px;
        width:100%;
        border-radius:5px;
        padding:0px 5px;
    } 
}
.wraper textarea{

        display: block;
        border: 1px solid black;
   
        width:80%;
        border-radius:5px;
        padding:10px 5px;
  
}
.wraper label{
    display: inline;
    padding:0px 5px;
    position: relative;
     top: 15px;
     left: 20px;
     background-color:white;
     font-size:17px;
     font-weight:bold;
     border-radius:15px;
}
.wraper2{
    margin: 10px;

}
.wraper2 label{

 background-color:white;
     font-size:17px;
     font-weight:bold;
     margin: 0px 5px;
}
#feedback{
    padding:10px 10px    ;
}