* {
    margin: 0;
    border: 0;
    --sub-menu-heading: #ffffff;
}
html {
    scroll-behavior: smooth;
}

body {}
.scroll-up-btn{
    background: transparent;
    font-size:26px;
    width:50px;height:50px;
    position: fixed;
    bottom: 20px;;
    right: 20px;
    z-index: 200;
    color:#458FF6;
}
.container-fluid {

    padding: 20px 20px;
    background-color: white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);


}

.menu-navbar {}

#menu-button {
    border: none;
    background: none;
    animation-name: menu-li-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;


}


.menu-link {

    z-index: 5;
    position: -webkit-sticky;
    position: sticky;

}

@media (max-width: 992px) {
    .menu-navbar {
        margin: 20px 0px;
        position: static;

    }

    .menu-link {
        display: none;




    }

}

.menu-link ul {
    display: flex;
    justify-content: space-around;

    margin: 0px;
    padding: 0;

}

.menu-link ul li {
    padding: 10px;
    list-style: none;

    animation-name: menu-li-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

}
@keyframes menu-li-animation-small{

        from {
        padding: 10px 0% 10px 10px;
          
            opacity: 0;
        }
    
        to {
        padding: 10px 20% 10px 10px;
            
            opacity: 1;
        }

}
@keyframes menu-li-animation {
    from {
        margin-left: 100px;
        opacity: 0;
    }

    to {
        margin-left: 0px;
        opacity: 1;
    }
}

.menu-link ul li span,
.menu-link ul li a {

    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    color: black;
    cursor: pointer;
}

.menu-link ul li span:hover,
.menu-link ul li a:hover {
    color: #458FF6;
}

#feature-link {
    padding: 40px 100px;
    width: 99vw;


    z-index: 5;
    display: none;
    position: absolute;

    top: 65px;
    right: 3px;
    background: linear-gradient(90deg, #0F91F6 38.43%, #1AA9C5 100%);
    animation-name: menu-li-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    


}


#product-link {
    z-index: 5;
    width: 99vw;
    padding: 40px 100px;
    display: none;


    position: absolute;
    top: 65px;
    right: 3px;
    background: linear-gradient(90deg, #0F91F6 38.43%, #1AA9C5 100%);

    animation-name: menu-li-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    

}



@keyframes menu-sub-animation{

    from {
    padding: 10px 0% 10px 10px;
      
        opacity: 0;
    }

    to {
    padding: 10px 20% 10px 10px;
        
        opacity: 1;
    }

}




@media (max-width: 992px) {

    .menu-link ul {
        display: flex;

        flex-direction: column;
        justify-content: space-between;

    }

    .menu-link ul li {
        padding: 10px 20% 10px 10px;
        list-style: none;
        text-align: right;
        animation-name: menu-li-animation-small;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    

    }

    #feature-link {
        padding: 10px;
        display: none;
        width: 100%;
        position: static;
        transition: width 2;
    }

    #product-link {
        padding: 10px;
        display: none;
        width: 100%;
        position: static;


    }
}








/* -----------------this is heading  and para---------------- */
.heading-sub-menu {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--sub-menu-heading);
    padding-left: 5px;

}

.link-name-menu {
    font-size: 18px;
    line-height: 20px;
    margin: 5px 0;
    font-weight: 500;
    color: var(--sub-menu-heading);

}

.para-for-link-menu {

    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: var(--sub-menu-heading);
    text-align: justify;
    text-justify: inter-word;

}

.para-secondary-menu {

    font-size: 16px;
    line-height: 22px;
    color: var(--sub-menu-heading);

}

.img-menu {
    width: 100%;
    height: 100%;
}

.sub-link-menu {
    padding: 5px 5px;
}

.sub-link-menu a:hover {
    text-decoration: none;
}

.sub-link-menu:hover {
    border-radius: 0px;
    background: #00E6CD;

}


.sub-link-menu:hover .link-name-menu {
    color: #ffffff;
}

.sub-link-menu:hover .para-secondary-menu {
    color: #ffffff;
}

.sub-link-menu:hover .para-for-link-menu {
    color: #ffffff;
}


















/*-------------- this is for logo ----------------*/

.logo {
    display: flex;

    justify-content: center;
    align-items: center;

    animation-name: menu-logo-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

}

@keyframes menu-logo-animation {
    from {
        
        opacity: 0;
    }

    to {
        margin-right: 0px;
        opacity: 1;
    }
}

.logo-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;

    margin-right: 12px;
}

.logo-imaage {

    width: 100%;
    /* height:100%; */
}

.logo-name {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #233348;
}