.progressbar{
    display: inline-block;
width: 20px;
height:500px;
border: 1px solid black;
margin: 0px 50px;
}
.progressresult1{
    display: inline-block;
    width: 20px;
    height: 200px;
    background-color:blue;


}
.progressresult2{
    display: inline-block;
    width: 20px;
    height: 0px;
    background-color:blue;


}
.progressresult3{
    display: inline-block;
    width: 20px;
    height: 0px;
    background-color:blue;


}
.div-nameplace{
    display: inline-block;
    width:100%;
    position: absolute;
    left: 54px;
    
    
}
.firstsupportdiv{
    margin: 0px;
    padding: 0px;
}
.supportdiv{
    margin: 75px 0px 0px 0px;
}
.circle{
display: inline-block;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: gray;
}
.circle-fill{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    }
.time-bus{
    font-weight: bold;
    padding: 0px 0px 0px 10px;
}
    
